<h1>Favorite Places</h1>

<div id="favourite_places_index" class="favorite_places_table">
  <%= render 'index' %>
</div>

<%= render 'google_services/location_search/form' %>

<div id="location_search_results" class="location_results">
  <%#= render 'new_form' %>
</div>